--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0

sqlmodel
dagster
dagster-webserver
fastapi
uvicorn
pandas
openpyxl
alembic
psycopg2-binary
pydantic-settings
sentence-transformers==2.6.1
pgvector
mkdocs
mkdocs-material
httpx
plotly>=5.18
Pillow>=10.2.0
pre-commit>=3.7.0
ruff>=0.6.0
pytest>=7.4.4
